@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  /* border color: 545454 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pm-animate {
  animation: pm-animate 5s linear infinite;
  transition: all 1s;
}

@keyframes pm-animate {
  0% {
    transform: translate(-20px, -20px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}

.strategy-animate {
  animation: strategy-animate 5s linear infinite;
  transition: all 1s;
}

@keyframes strategy-animate {
  0% {
    transform: translate(-20px, 20px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-20px, 20px);
  }
}

.brand-animate {
  animation: pm-animate 5s linear infinite;
  transition: all 1s;
}

@keyframes ux-animate {
  0% {
    transform: translate(20px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(20px, 0px);
  }
}

.ux-animate {
  animation: ux-animate 5s linear infinite;
  transition: all 1s;
}
